<head>
<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Roboto:300,400|Rozha+One" rel="stylesheet">
</head>

<div class= "main-container">

<h1>Journal</h1>
<h4>Word count</h4>
<div id="display-count"></div>
<textarea id="inputString" onkeyup="countWords();">
</textarea><br>

<button><span>Submit</span></button>

</div>
